* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    transition: all 3s 0.3s ease-in-out;
}

.container h3 {
    color: white;
    font-size: 3rem;
    line-height: 1em;
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container h2{
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightcoral;
    line-height: 1em;
    margin: 0;
    font-size: 18rem;
    font-family: Arial, Helvetica, sans-serif;

}

.container h2 span {
    text-shadow: 0 0 10px red,
                0 0 20px red,
                0 0 40px red,
                0 0 80px red,
                0 0 160px red;
    animation: blink 5s linear 0s infinite;
}

.container h2 span:first-of-type {
    animation: blink 3.5s linear 0.33s infinite;
}

.container h2 span:last-of-type { 
    animation: blink 6s linear 0.11s infinite;
}

@keyframes blink {
    0%, 25% {
        text-shadow: 0 0 10px red,
                0 0 20px red,
                0 0 40px red,
                0 0 80px red,
                0 0 160px red;
    }

    25.001%,26.999% {
        text-shadow: 0 0 10px rgba(255,0,0,0.2),
                0 0 20px rgba(255,0,0,0.2),
                0 0 40px rgba(255,0,0,0.2),
                0 0 80px rgba(255,0,0,0.2),
                0 0 160px rgba(255,0,0,0.2);
    }
    27%,28.999%{
        text-shadow: 0 0 10px rgba(255,0,0,0.4),
                0 0 20px rgba(255,0,0,0.4),
                0 0 40px rgba(255,0,0,0.4),
                0 0 80px rgba(255,0,0,0.4),
                0 0 160px rgba(255,0,0,0.4);
    }
    29%,32.999%{
        text-shadow: 0 0 10px rgba(255,0,0,0.1),
                0 0 20px rgba(255,0,0,0.1),
                0 0 40px rgba(255,0,0,0.1),
                0 0 80px rgba(255,0,0,0.1),
                0 0 160px rgba(255,0,0,0.1);
    }
    33%,36.999%{
        text-shadow: 0 0 10px rgba(255,0,0,0.6),
                0 0 20px rgba(255,0,0,0.6),
                0 0 40px rgba(255,0,0,0.6),
                0 0 80px rgba(255,0,0,0.6),
                0 0 160px rgba(255,0,0,0.6);
    }
    37%,100% {
        text-shadow: 0 0 10px red,
                0 0 20px red,
                0 0 40px red,
                0 0 80px red,
                0 0 160px red;
    }
}