body {
    background-color: rosybrown;
}

.centered{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered .circle {
    height: 400px;
    width: 400px;
    background-color: #303030;
    border-radius: 50%;
    position: relative;
    box-shadow: 
    -7px -7px 4px rgba(255, 255, 255, 0.3),
    inset -7px -7px 4px rgba(255, 255, 255, 0.3),
    7px 7px 4px rgba(0, 0, 0, 0.3),
    inset 7px 7px 4px rgba(0, 0, 0, 0.3);
    opacity: 0.6;
    filter: blur(0.5px);
}

.centered .circle .needle {
    position: absolute;      
    background-color: white;
}

.centered .circle .hour {
    bottom: 50%;
    padding: 50px 5px;
    left: calc(50% - 5px);
    
    transform-origin: bottom;
}

.centered .circle .minutes {
    padding: 80px 2px;
    left: calc(50% - 2px);
    bottom: 160px;
    transform-origin: 50% 75%;
}

.centered .circle .seconds {
    padding: 120px 1px;
    left: calc(50% - 1px);
    bottom: 128px;
    transform-origin: 50% 70%;
}

.centered .circle .dot {
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: calc(50% - 5px);
    left: calc(50% - 5px);
    background-color: black;
    border-radius: 50%;
}

.centered .circle .marker {
    position: absolute;
    padding: 10px 1px;
    background-color: antiquewhite;
    transform-origin: center;
    bottom: calc(50% - 10px);
    left: calc(50% - 1px);
}

.centered .circle .hr12{
    transform: rotate(0deg) translateY(-180px);
}

.centered .circle .hr1{
    transform: rotate(30deg) translateY(-180px);
}

.centered .circle .hr2{
    transform: rotate(60deg) translateY(-180px);
}

.centered .circle .hr3{
    transform: rotate(90deg) translateY(-180px);
}

.centered .circle .hr4{
    transform: rotate(120deg) translateY(-180px);
}

.centered .circle .hr5{
    transform: rotate(150deg) translateY(-180px);
}

.centered .circle .hr6{
    transform: rotate(180deg) translateY(-180px);
}

.centered .circle .hr7{
    transform: rotate(210deg) translateY(-180px);
}

.centered .circle .hr8{
    transform: rotate(240deg) translateY(-180px);
}

.centered .circle .hr9{
    transform: rotate(270deg) translateY(-180px);
}

.centered .circle .hr10{
    transform: rotate(300deg) translateY(-180px);
}

.centered .circle .hr11{
    transform: rotate(330deg) translateY(-180px);
}