
html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .score {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

section .score h1 {
    display: block;
    font-size: 2rem;
}

section .score .heart {
    color: red;
}

section .board {
    width: 800px;
    height: 800px;
    background-color: #333333;
    position: relative;
}

section .board .creature {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    top: 0px;
    left: 0px;
}

section .board .creature.snake {
    background-color: aliceblue;
}

section .board .creature.enemy {
    background-color: red;
}

section .board .pearl {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgreen;
    top: 0px;
    left: 0px;
}

section .board .pearl .bad-pearl {
    background-color: red;
}